.s-descartaveis {
    background-color: #276bad;
    padding: 5px 0 5px 0;
}

.s-descartaveis-text {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
}

.s-header {
    background: #a1c6ea;
    min-height: 8rem;
}